<div class='modal-header header'>
  <button type='button' class='close' data-dismiss='modal'>&times;</button>
  <h4 class='modal-title title'>{{Title}}</h4>
</div>
<div class='modal-body body-modal row'>
  <div class='modal-image-container col-xs-4'>
    <img class='modal-book-image' src='{{Image}}'>
  </div>
  <div class='modal-book-details col-xs-8'>
    <b>SUB TITLE:</b><div class='modal-sub-title'>{{SubTitle}}</div><hr/>
    <b>DESCRIPTION:</b><div class='modal-description'>{{Description}}</div><hr/>
    <b>ISBN:</b><div class='modal-isdn-number'>{{isbn}}</div>
  </div>
</div>
<div class='modal-footer'>
  <button type='button' class='btn btn-default' data-dismiss='modal'>OK</button>
</div>
