.block {
  width: 100%;
  overflow: auto;
}

.block-1{
    width: 32%;
    display: inline-block;
    background-color: orange;
    border: 1px solid red;
    float : left;
    margin-left: 5px;
    height: 250px;
    margin-top: 5px;
  }

.image{
    display: block;
    width: 100%;
    margin-left: auto;
  }

  .title {
    text-align: center;
    margin: 10px;
  }

  .calcImg {
    margin-top: 8px;
  }

  .discription {
    text-align: center;
    text-align: justify;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  button {
    width: 100%;
    margin-bottom: 0px;
    padding: 10px;
  }

  .discription {
    margin-left: 5px;
    margin-right: 5px;
  }

  .cancel {
    overflow: auto;
  }

  .cancel-img {
    float: right;
  }

  @media screen and (max-width:1070px){
    .block-1 {
      width: 48%;
      display: inline-block;
      background-color: orange;
      border: 1px solid red;
      float : left;
      margin-left: 5px;
    }
  }
  @media screen and (max-width:735px){
    .block-1 {
      width: 99%;
      display: inline-block;
      background-color: orange;
      border: 1px solid red;
      float : left;
      margin-left: 5px;
    }
  }
