.site-container {
  .heading {
    background-color: lightseagreen;
    color: #fff;
    margin: 0px;
    text-align: center;
  }

  .vertical-menu {
    padding-right: 0px;
    margin-top: 18px;

    .book-name {
      color: #337ab7;
      display: block;
      font-size: 18px;
      padding: 12px;
      text-decoration: none;
      text-align: center;

      &:hover {
        background-color: #ccc;
      }
    }

    .active {
      background-color: lightseagreen;
      color: #ffffff;
    }
  }

  .books-container {
    background-color: #f5f5f5;

    .book-tile {
      margin-top: 24px;

      .book {
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 5px 10px lightgrey;
        padding: 5px;

        .separator {
          margin: 0px;
        }

        .image-container {

          .image {
            border-radius: 5px;
            border-color: #fff;
            display: block;
            height: 200px;
            position: relative;
            width: 100%;

            &:hover {
                opacity: 0.5;
            }
          }
        }

        .title {
          color: #4f81bd;
          height: 20px;
          margin: 5px 0px;
          overflow: hidden;
          text-align: center;
        }

        .book-desc {
          height: 60px;
          text-overflow: ellipsis;
          text-align: center;
          margin: 5px 0px;
          overflow: hidden;
        }

        .rating-heart-container {

          .rating-bar {
            float: left;
            margin-top: 0px;
            width: 80%;

            .rating {
              color: black;
              float: left;
              font-size: 17px;
              margin-top: 15px;
            }

            .show-rating {
              color: orange;
            }
           }

          .heart-img-container {
            float: right;
            width: 20%;

            .heart-img {
              font-size: 20px;
              margin-top: 12px;
            }

            .heart-clicked {
              color: red;
            }
           }
         }

        .buy-button {
          margin-top: 14px;
          .button {
            display: block;
            padding: 6px 32px;
            margin: 7px auto;
          }
        }
      }
    }
  }
}

.book-info-container {

  .dialog-box {

    .content {

      .header {
        text-align: center;
      }

      .body-modal {

        .title {
          color: brown;
          line-height: 1.42857143;
          margin: 0;
        }

        .modal-image-container {

          .modal-book-image {
            height: 217px;
            width: 100%;
          }
        }

        .modal-book-details {

          .modal-sub-title {
            color: chocolate;
            font-size: 16px;
            margin-bottom: 8px
          }

          .modal-description {
            color: darkblue;;
            font-family: Consolas;
            font-size: 18px;
            text-align: justify;
            margin-bottom: 8px;
          }

          .modal-isdn-number {
            color: cadetblue;
            font-size: 19px;
          }
        }
      }
    }
  }
}
